In [2]:
import numpy as np
import pandas as pd
import folium
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
import json
%matplotlib inline

In [3]:
# find the canton id in the json file
with open('ch-cantons.topojson.json') as data_file:    
    data = json.load(data_file)
canton_id=[]
for i in range(len(data["objects"]['cantons']['geometries'])):
    canton_id.append(data["objects"]['cantons']['geometries'][i]['id'])

In [4]:
#import the grant data
data=pd.read_csv('P3_GrantExport.csv',sep=';')

In [5]:
#drop every column except university institution and approved amount
data=data.drop(data.columns[[0,1,2,3,4,5,8,9,10,11,12,14]], axis=1)

#drop the data for which we dont have or university or institution
double_NaN_idx = data[pd.isnull(data['University']) & pd.isnull(data['Institution'])].index.values 
data = data.drop(data.index[[double_NaN_idx]],axis=0)
data = data.reset_index('level_0')
data = data.drop('index', axis=1)

#drop the data for which we have no amount
no_amount_idx = data[np.equal(data['Approved Amount'], 'data not included in P3')].index.values
data = data.drop(data.index[[no_amount_idx]],axis=0)
data = data.reset_index('level_0')
data = data.drop('index', axis=1)

#drop the data for the money sent abroad
#list of the codes for the countries to drop
str_todrop=['USA','DK', 'GB', 'AUS', 'CDN', 'D', 'EAK', 'F', 'I', 'NL', 'YU', 'E', 'BR', 'RA', 'S', 'SA', 'PNG', 'A', 'CO', 'SF','J', 'NZ', 'IR','H']
abroad_idx = []
for i in str_todrop:
    idx = []
    idx = data[(pd.isnull(data['University'])) & (data['Institution'].str.endswith(i)==True)].index.values
    abroad_idx = np.concatenate((abroad_idx, idx), axis=0)
data = data.drop(data.index[[abroad_idx.astype(int)]],axis=0)
data = data.reset_index('level_0')
data = data.drop('index', axis=1)

# transform the approved amount in float
data['Approved Amount']=data['Approved Amount'].astype(float)

In [6]:
#keep the data for which we have the university

#to_drop=data[pd.isnull(data['University'])].index.values
to_drop=data[pd.isnull(data['University'])].index.values

#we also have to remove the data that endswith NPO or NA (the line university doesn't contain information)
to_dropNA=data[data.University.str.endswith('NA')==True].index.values
to_dropNPO=data[data.University.str.endswith('NPO')==True].index.values

#concatenate them to drop all at once
to_drop2=np.concatenate((to_drop,to_dropNA, to_dropNPO),axis=0)

#create the dataframe with the grants for which we have the university info
data_uni=data.drop(data.index[[to_drop2]],axis=0)
# reset the index
data_uni.reset_index(inplace=True)
#remove the old index column
data_uni=data_uni.drop(data_uni.columns[0], axis=1)

In [7]:
#we have 90% of the exploitable data (that is in switzerland)
len(data_uni)/len(data)

0.9079623702841625

In [8]:
#add a column for the canton
data_uni["Canton"] = ""

In [22]:
#find where is the -
tiret=data_uni.University.str.find('-').astype(int)
#for each line
canton=[]
for i in range(len(data_uni)):
    # keep everything that is after that
    canton=data_uni.University[[i]].str[tiret[i]+2:]
    
    #########ATTTENTIOOOOOOOOON A changer!!!
    if str(canton.values[0]) in canton_id:
        #write the canton in the canton column
        data_uni.Canton[[i]]=canton
    else:
        data_uni.Canton[[i]]='ZH'
data_uni.head()


# we have to replce LA with VD and probably some other things

/Users/lugrinclaire/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/lugrinclaire/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Institution,University,Approved Amount,Canton
0,Faculté de Psychologie et des Sciences de l'Ed...,Université de Genève - GE,41022.0,GE
1,Abt. Handschriften und Alte Drucke Bibliothek ...,Universität Basel - BS,52627.0,BS
2,"Séminaire de politique économique, d'économie ...",Université de Fribourg - FR,53009.0,FR
3,Institut für ökumenische Studien Université de...,Université de Fribourg - FR,25403.0,FR
4,Ostasiatisches Seminar Universität Zürich,Universität Zürich - ZH,47100.0,ZH

In [24]:
data_uni.to_pickle('data_uni_fake')

In [25]:
data_uni.Canton.unique()

array(['GE', 'BS', 'FR', 'ZH', 'BE', 'NE', 'SG', 'LU'], dtype=object)

In [43]:
data_grouped=pd.DataFrame([],index=canton_id)
data_grouped

Empty DataFrame
Columns: []
Index: [ZH, BE, LU, UR, SZ, OW, NW, GL, ZG, FR, SO, BS, BL, SH, AR, AI, SG, GR, AG, TG, TI, VD, VS, NE, GE, JU]

In [61]:
#sum all the data per canton
data_grouped=pd.DataFrame([])
money=[]
for i in canton_id:
    money.append(np.sum(data_uni['Approved Amount'][data_uni.Canton==i]))
data_grouped['Canton']=canton_id
data_grouped['Money']=money
data_grouped.set_index('Canton')

               Money
Canton
ZH      6.841544e+09
BE      1.519373e+09
LU      3.998168e+07
UR      0.000000e+00
SZ      0.000000e+00
OW      0.000000e+00
NW      0.000000e+00
GL      0.000000e+00
ZG      0.000000e+00
FR      4.575262e+08
SO      0.000000e+00
BS      1.352251e+09
BL      0.000000e+00
SH      0.000000e+00
AR      0.000000e+00
AI      0.000000e+00
SG      6.919495e+07
GR      0.000000e+00
AG      0.000000e+00
TG      0.000000e+00
TI      0.000000e+00
VD      0.000000e+00
VS      0.000000e+00
NE      3.832046e+08
GE      1.838237e+09
JU      0.000000e+00

In [ ]:
#import the topojson map
topo_path = r'ch-cantons.topojson.json'
swiss_map = folium.Map(location=[47, 8],
                   tiles='Mapbox Bright', zoom_start=2)

In [ ]:
#To use a Dataframe (in the DF, I used the id as the _Cantons_ and I put random values inside the _Values_ field), you need to do this:
swiss_map.choropleth(geo_path=cantons_geo, 
                     data=df,
                     columns=['Cantons', 'Values'],
                     key_on='feature.id',
                     topojson='objects.cantons',
                     fill_color='YlGn',
                     legend_name = 'Random numbers'
                    )

#In you DataFrame, you must be sure that *all the id present in the topojson are also present in the column of the DF*. If it's not the case, just add the missing ids..